In [1]:
import numpy as np

In [8]:
n = int(input('Enter the number of transactions: '))
transactions = []
for i in range(n):
    transactions.append(list(map(int, input(f'Enter the items in transaction {i+1}:').split(','))))

Enter the number of transactions:  5
Enter the items in transaction 1: 1,3,4
Enter the items in transaction 2: 2,3,5
Enter the items in transaction 3: 1,2,3,5
Enter the items in transaction 4: 2,5
Enter the items in transaction 5: 1,3,5

In [9]:
transactions

[[1, 3, 4], [2, 3, 5], [1, 2, 3, 5], [2, 5], [1, 3, 5]]

In [34]:
itemset = []
flattened_list = [item for sublist in transactions for item in sublist]
elements = set(flattened_list)
for i in elements:
    count = 0 
    for transaction in transactions:
        if i in transaction:
            count += 1
    if count >= 2:
        itemset.append(i)

In [35]:
itemset

[1, 2, 3, 5]

In [44]:
from itertools import combinations

subsets = []
for i in range(len(itemset) + 1):
    subsets.extend(combinations(itemset, i))

In [51]:
subsets

[(),
 (1,),
 (2,),
 (3,),
 (5,),
 (1, 2),
 (1, 3),
 (1, 5),
 (2, 3),
 (2, 5),
 (3, 5),
 (1, 2, 3),
 (1, 2, 5),
 (1, 3, 5),
 (2, 3, 5),
 (1, 2, 3, 5)]

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from apyori import apriori

import warnings
warnings.filterwarnings('ignore')

In [3]:
n = int(input('Enter the number of transactions: '))
transactions = []
for i in range(n):
    transactions.append(list(map(int, input(f'Enter the items in transaction {i+1}:').split(','))))

Enter the number of transactions:  5
Enter the items in transaction 1: 1,3,4
Enter the items in transaction 2: 2,3,5
Enter the items in transaction 3: 1,2,3,5
Enter the items in transaction 4: 2,5
Enter the items in transaction 5: 1,3,5

In [4]:
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori

te = TransactionEncoder()
te_ary = te.fit(transactions).transform(transactions)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

       1      2      3      4      5
0   True  False   True   True  False
1  False   True   True  False   True
2   True   True   True  False   True
3  False   True  False  False   True
4   True  False   True  False   True

In [6]:
frequent_itemsets = apriori(df, min_support = 0.4, use_colnames=True)  
print(frequent_itemsets)

    support   itemsets
0       0.6        (1)
1       0.6        (2)
2       0.8        (3)
3       0.8        (5)
4       0.6     (1, 3)
5       0.4     (1, 5)
6       0.4     (2, 3)
7       0.6     (2, 5)
8       0.6     (3, 5)
9       0.4  (1, 3, 5)
10      0.4  (2, 3, 5)

In [7]:
from mlxtend.frequent_patterns import apriori, association_rules

association_rules_df = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.6)

In [8]:
association_rules_df

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(1),(3),0.6,0.8,0.6,1.000000,1.250000,0.12,inf
1,(3),(1),0.8,0.6,0.6,0.750000,1.250000,0.12,1.6
2,(1),(5),0.6,0.8,0.4,0.666667,0.833333,-0.08,0.6
3,(2),(3),0.6,0.8,0.4,0.666667,0.833333,-0.08,0.6
4,(2),(5),0.6,0.8,0.6,1.000000,1.250000,0.12,inf
5,(5),(2),0.8,0.6,0.6,0.750000,1.250000,0.12,1.6
6,(3),(5),0.8,0.8,0.6,0.750000,0.937500,-0.04,0.8
7,(5),(3),0.8,0.8,0.6,0.750000,0.937500,-0.04,0.8
8,"(1, 3)",(5),0.6,0.8,0.4,0.666667,0.833333,-0.08,0.6
9,"(1, 5)",(3),0.4,0.8,0.4,1.000000,1.250000,0.08,inf
10,"(3, 5)",(1),0.6,0.6,0.4,0.666667,1.111111,0.04,1.2
11,(1),"(3, 5)",0.6,0.6,0.4,0.666667,1.111111,0.04,1.2
12,"(2, 3)",(5),0.4,0.8,0.4,1.000000,1.250000,0.08,inf
13,"(2, 5)",(3),0.6,0.8,0.4,0.666667,0.833333,-0.08,0.6
14,"(3, 5)",(2),0.6,0.6,0.4,0.666667,1.111111,0.04,1.2
15,(2),"(3, 5)",0.6,0.6,0.4,0.666667,1.111111,0.04,1.2